{% load thumbnail %}
<div class="card shadow rounded" style="width: 100%;">
    <div class="card-body">
<article>
    <ul>
        <li>
            Автор: {{ post.author.get_full_name }} 
            <a href="{% url 'posts:profile' post.author.username %}"> 
                Все посты пользователя
            </a>
            </li>
        <li>
            <p>Дата публикации: {{ post.pub_date|date:"d E Y" }}</p>
        </li>
    </ul>
    {% thumbnail post.image "1920x1080" crop="center" upscale=True as im %}
    <img class="card-img" src="{{ im.url }}">
  {% endthumbnail %}
    <p>{{ post.text }}</p>
    <a href="{% url 'posts:post_detail' post.pk %}">
      Подробная информация
    </a>
    <br>
    {% if post.group %}
            <a href="{% url 'posts:group_list' post.group.slug %}" class="button">
                Больше постов группы {{ post.group.title}}
            </a>                    
    {% endif %}
</article>
    </div>
</div>
<br>