{% extends "base.html" %}
{% block title %}Профайл пользователя {{ post.author.get_full_name }}{% endblock %}
{% block content %}
  <main>
    <div class="container py-5">
        <h1>Все посты пользователя {{ author.get_full_name }} </h1>
        {% if user != author and user.is_authenticated %}
        {% if following %}
          <a class="btn btn-lg btn-light" href="{% url 'posts:profile_unfollow' author.username %}" role="button">
            Отписаться
          </a>
        {% else %}
          <a class="btn btn-lg btn-primary" href="{% url 'posts:profile_follow' author.username %}" role="button">
            Подписаться
          </a>
        {% endif %}
      {% endif %}
        <h3>Всего постов: {{author.posts.count}} </h3>
        <h5>Всего подписчиков: {{ author.following.count }}</h3>
        <h5>Всего подписок: {{ author.follower.count }}</h3>
        <br>
      {% for post in page_obj  %}
      {% include 'includes/article.html' %}
        {% endfor %}
        {% include 'posts/includes/paginator.html' %}
    </div>
  </main>
{% endblock %}